<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head  %>   
  </head>
  <body>
    <% include partials/menu %>
    <h1><%= page %></h1>
    <p>Welcome to <%= page %></p>

    <% if(products.length>0) { %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<products.length;i++) { %>
            <tr>
              <td><a href="/products/show/<%= products[i]._id%>"><%= products[i].name%></a></td>
              <td><%= products[i].price%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No employees found.</div>
      <% } %>
  </body>
  <% include partials/script %>
</html>
